In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 999)

In [2]:
cal_1611 = pd.read_csv('../data/calendar_2016-11-02.csv.gz', compression='gzip')

In [4]:
# temp = cal_1611[cal_1611["date"] == "2017-11-09"]
# cal_1611 = cal_1611[cal_1611["date"] >= "2017-11-06"]
cal_1611.sort_values("date", ascending=False)

         listing_id        date available    price
1074836     1359419  2017-11-01         t   $79.00
868700     10501802  2017-11-01         t  $110.00
258785       638875  2017-11-01         f      NaN
1883400    11124548  2017-11-01         f      NaN
1067990    12582732  2017-11-01         f      NaN
258673      4795263  2017-11-01         t   $55.00
1883765    12899632  2017-11-01         f      NaN
1068355     7176007  2017-11-01         f      NaN
1884130    14040855  2017-11-01         f      NaN
1884495    12467986  2017-11-01         f      NaN
1885077    11681541  2017-11-01         f      NaN
258055     15603164  2017-11-01         t  $222.00
1885225    13240929  2017-11-01         t  $260.00
545887      9682877  2017-11-01         t  $225.00
257950     15465976  2017-11-01         f      NaN
2241100     1261074  2017-11-01         f      NaN
546040     15597482  2017-11-01         f      NaN
1885859     9464447  2017-11-01         f      NaN
869065     13827669  2017-11-01         f      NaN
1885955    10747642  2017-11-01         f      NaN
974915       409560  2017-11-01         f      NaN
1886320     1080980  2017-11-01         t  $595.00
2085142     7601779  2017-11-01         f      NaN
257325     13823979  2017-11-01         t   $77.00
546405     13552280  2017-11-01         t  $125.00
1886685    14139335  2017-11-01         t  $167.00
869665     15089583  2017-11-01         f      NaN
1887050    14761638  2017-11-01         f      NaN
1067625     8027997  2017-11-01         f      NaN
1067260     7730652  2017-11-01         f      NaN
...             ...         ...       ...      ...
1347214        8739  2016-11-01         f      NaN
1346849      560440  2016-11-01         f      NaN
2148389     7549488  2016-11-01         f      NaN
2603544    13533012  2016-11-01         f      NaN
495304      7502193  2016-11-01         f      NaN
2604274     3826011  2016-11-01         f      NaN
646779       898833  2016-11-01         f      NaN
76284      14297060  2016-11-01         t  $150.00
494209     13926923  2016-11-01         f      NaN
165344      5685743  2016-11-01         f      NaN
1351594    13732274  2016-11-01         f      NaN
1351229    10767017  2016-11-01         t  $470.00
2145469     3994686  2016-11-01         t  $295.00
285794      7419046  2016-11-01         f      NaN
699704      1393654  2016-11-01         f      NaN
2944819     1255826  2016-11-01         f      NaN
1350864     3377847  2016-11-01         f      NaN
3194114       18904  2016-11-01         f      NaN
1350499     5721264  2016-11-01         f      NaN
768689     11322959  2016-11-01         f      NaN
2145834     9925642  2016-11-01         f      NaN
2604639     4636362  2016-11-01         f      NaN
2945184      564074  2016-11-01         f      NaN
1350134    11259062  2016-11-01         f      NaN
1349769    10947787  2016-11-01         f      NaN
2146199     4387775  2016-11-01         f      NaN
2945549    11434840  2016-11-01         f      NaN
1349404    11459631  2016-11-01         f      NaN
2146564    13991411  2016-11-01         f      NaN
3235359    15729523  2016-11-01         f      NaN

[3235360 rows x 4 columns]